@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
}

header {
  grid-column: 1/-1;
  margin: 20px;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

h1 {
  margin: 0;
  font-size: 36px;
}

aside {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: fit-content;
  color: black;
  margin-left: 130px;
}
main {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  color: white;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Resume card style */
.card {
  margin: 20px;
  width: 420px;
  height: 200px;
  background: whitesmoke;
  transition: .1s;
  border-radius: 15px;
  cursor: default;
}

.card:hover {
  box-shadow: 1px 1px 10px lightslategray;
}

.card-top-part {
  width: 100%;
  height: 70%;
  padding: 15px;
  display: flex;
}

.left-part {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-part {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.name {
  font-size: 24px;
}

.role {
  font-size: 10px;
  color: lightcyan;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #333;
  padding: 4px 10px;
  border-radius: 15px;
}

.position {
  color: grey;
}

.card-bottom-part {
  width: 100%;
  height: 30%;
  display: flex;
  border: 1px solid rgb(231, 227, 227);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.user-photo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(231, 227, 227);
  box-shadow: 2px 2px 10px lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.bottom-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-part:hover > .link {
  transform: scale(1.1);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 5.5px;
  font-weight: bold;
  transition: .2s linear;
}

.icon {
  width: fit-content;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-part:first-child {
  border-right: 1px solid rgb(231, 227, 227);
}

/* Projects Card */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  gap: 20px;
}

.project {
  font-family: 'Courier New', Courier, monospace;
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid transparent;
}

.project:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  border-radius: 15px;
  width: 95%;
  height: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 1rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #333;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

/* Animations section */

header {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.2s;
}

main {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.6s;
}

footer {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 1s;
}

header.show, main.show, footer.show {
  opacity: 1;
}